body{
    background-color: #81c8be;
    font-family: monospace;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 72px;
    color:#232634;
}

#headerBox{
    width: 600px;
    height: 100px;
    margin: 25px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#headerContainer{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator{
    background-color: #232634;
    width: 600px;
    padding: 10px;
    padding-top: 25px;
    border-radius: 16px;
    border-style: outset;
    border-width: 20px;
}

#screen{
    background-color: #c6d0f5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    border-radius: 4px;
    border-style: inset;
    border-width: 8px;
    height: 72px;
}

.numpad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.numpadRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.numpadKey{
    background-color: #e5c890;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 8px;
    border-style: outset;
    border-width: 4px;
    border-color: #e5c890;
}

.operandKey{
    background-color: #e78284;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 8px;
    border-style: outset;
    border-width: 4px;
    border-color: #e78284;
}

.superKey{
    background-color: #ca9ee6;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 8px;
    border-style: outset;
    border-width: 4px;
    border-color: #ca9ee6;
}
